*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #5a93ac;
    text-align: center;
}

.container{
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #3f1717;
    background-color: #d3d19a;
}

#reset-btn{
    padding: 0.8rem;
    font-size: 1.2rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 0.8rem;
    font-size: 1.2rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: #d7db66;
    font-size: 6vmin;
    font-family: Arial, Helvetica, sans-serif;
}

.msg-container{
    height: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.hide{
    display: none;
}

.footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: rgb(100, 126, 156);
}

